<?xml version="1.0"?>
<model>
  <name>wolrd_mass</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Lee C</name>
    <email>lcarrozz@andrew.cmu.edu</email>
  </author>
  <description>
    Ocean floor model using heightmap collision and OBJ visual mesh.
  </description>
</model>